/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px;
}

section h2 {
  font-size: 24px;
}

.project {
  margin-bottom: 20px;
}

.project img {
  max-width: 100%;
  border-radius: 10px;
}

.project .project-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.project .project-description {
  font-size: 14px;
  color: #777;
}

footer {
  background-color: #f8f8f8;
  color: #000;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: #666;
}


