/* main.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  display: -webkit-inline-flex;
  margin-right: 10px;
  
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.nv a:hover {
  background-color: #4d9ee9;
}

 
 
section {
  padding: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Added box shadow for depth effect */
  transition: box-shadow 0.3s ease-in-out; /* Added transition for hover effect */

}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  color: #777;
}

section#about img {
max-width: 100%;
border-radius: 10px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Added box shadow for depth effect */
transition: box-shadow 0.3s ease-in-out; /* Added transition for hover effect */
}

section#about img:hover {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Increased box shadow on hover for effect */
transform: scale(1.05); /* Added scale effect on hover for visual appeal */
}

.project {
  margin-bottom: 20px;
}

.project img {
  max-width: 100%;
  border-radius: 10px;
}

.project h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.project p {
  font-size: 16px;
  color: #777;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.project a:hover {
  background-color: #666;
}

.resume a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.resume a:hover {
  background-color: #666;
}

footer {
  background-color: #666; /* Updated background color for better visibility */
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: block;
  margin-right: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: #666;
}
